In [4]:
import pandas as pn
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
data=pn.read_csv("diabetes.csv",header=None)
X = pn.read_csv("X.csv",header=None)
#remove first row (header)
data = data.iloc[1:]
import numpy as np
data=np.asarray(data)
X=data[:,:data.shape[1]-1]
y=data[:,-1:]
data

FileNotFoundError: File b'X.csv' does not exist

In [30]:
X_train, X_test, y_train, y_test = train_test_split(
     X, y, test_size=0.33,random_state=42)

test_set_size = len(y_test)
test_set_size

254

In [56]:
clf = LogisticRegression(random_state=0, solver='lbfgs',multi_class='multinomial',C=1)
clf.fit(X_train, y_train)
k=clf.predict(X_test[:, :])

columns = ['Class Value']
#df = pd.DataFrame(ex_dict, columns=columns, index=index)
df1 = pn.DataFrame(k,columns=columns)
df1

C:\Users\Moshiur\Anaconda3\envs\tf\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Moshiur\Anaconda3\envs\tf\lib\site-packages\sklearn\linear_model\logistic.py:757: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)

    Class Value
0             0
1             0
2             0
3             0
4             0
5             0
6             0
7             1
8             1
9             1
10            0
11            1
12            0
13            0
14            0
15            0
16            0
17            0
18            1
19            1
20            0
21            0
22            0
23            0
24            1
25            1
26            0
27            0
28            0
29            0
..          ...
224           0
225           1
226           0
227           0
228           0
229           0
230           0
231           0
232           0
233           0
234           0
235           0
236           0
237           0
238           0
239           1
240           0
241           0
242           1
243           0
244           0
245           0
246           1
247           0
248           0
249           0
250           0
251           0
252           1
253           0

[254 rows x 1 columns]

In [57]:

columns = ['Real Class Value']
#df = pd.DataFrame(ex_dict, columns=columns, index=index)
df2 = pn.DataFrame(y_test,columns=columns)
df2

    Real Class Value
0                  0
1                  0
2                  0
3                  0
4                  0
5                  0
6                  0
7                  0
8                  0
9                  0
10                 1
11                 0
12                 1
13                 0
14                 0
15                 1
16                 0
17                 0
18                 1
19                 1
20                 0
21                 0
22                 0
23                 0
24                 0
25                 1
26                 0
27                 0
28                 1
29                 0
..               ...
224                0
225                0
226                1
227                1
228                0
229                0
230                0
231                0
232                0
233                1
234                0
235                0
236                0
237                0
238                1
239                1
240                0
241                0
242                1
243                0
244                0
245                0
246                0
247                0
248                0
249                0
250                1
251                0
252                1
253                0

[254 rows x 1 columns]

In [58]:
clf.score(X_train, y_train)

0.7782101167315175

In [61]:
df = pn.concat([df1, df2], axis=1)
df

    Class Value Real Class Value
0             0                0
1             0                0
2             0                0
3             0                0
4             0                0
5             0                0
6             0                0
7             1                0
8             1                0
9             1                0
10            0                1
11            1                0
12            0                1
13            0                0
14            0                0
15            0                1
16            0                0
17            0                0
18            1                1
19            1                1
20            0                0
21            0                0
22            0                0
23            0                0
24            1                0
25            1                1
26            0                0
27            0                0
28            0                1
29            0                0
..          ...              ...
224           0                0
225           1                0
226           0                1
227           0                1
228           0                0
229           0                0
230           0                0
231           0                0
232           0                0
233           0                1
234           0                0
235           0                0
236           0                0
237           0                0
238           0                1
239           1                1
240           0                0
241           0                0
242           1                1
243           0                0
244           0                0
245           0                0
246           1                0
247           0                0
248           0                0
249           0                0
250           0                1
251           0                0
252           1                1
253           0                0

[254 rows x 2 columns]

In [64]:
df.to_csv("out.csv")